node_modules/
dist/
*.idea
*.d.ts
card_service/**/*.js
card_service/**/*.js.map
routes/**/*.js
spec/**/*.js.map
app.js
app.map.js
*.log
*.tgz
*.csv
!body-parser/index.d.ts
!express/index.d.ts
!mime/mime.d.ts
!serve-static/index.d.ts
!form-data/lib/form-data.d.ts
!request/request.d.ts
!node-slack/slack.d.ts
